*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    width: 100%;
    height: 13vh;
    /* box-shadow: 0px 20px 28px -13px rgba(80, 46, 34, 0.32); */
    background: #ffffff;
    z-index: 99;
}
.logo{
    background-image: url('../public/styopa.png');
    width: 3rem;
    background: #000;
    height: 2rem;
}

.logo img{
    width: 60%;
    
}

.logo{
    width: 30%;
    
    height: 100%;
}

.head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
    
}

.container{
    width: 80%;
    margin-inline: auto;
}

nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    text-decoration: none;
}
nav a {
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.5s ease;
}

.btn{
    background: #000;
    width: 180px;
    height: 70px;
    border-radius: 8px;
    text-align: center;
    padding: 14px;
    font-size: 22px;
    text-decoration: none;
   color: aliceblue; 
   box-shadow: 0px 10px 5px 1px rgba(80, 46, 34, 0.30);
}
@media (max-width: 430px) {
    .body{
        display: none;
    }
  }
  